body {
    background-color: rgb(156, 240, 240);
}
.header {
    height: 10%;
    background-color: rgb(0, 118, 139);
    padding: 10px;
    box-shadow: 0px 0px 5px white;
    border-radius:4px;
}
.main {
    height: 80%;
    background-color: rgb(78, 201, 238);
    padding: 10px;
    box-shadow: 0px 0px 5px white;
    border-radius:4px;
}
.footer {
    height: 10%;
    background-color: rgb(49, 49, 226);
    padding: 10px;
    box-shadow: 0px 0px 5px white;
    border-radius:4px;
}

h1 {
    color: azure;
    font-size: 20px;
    font-family: arial;
    text-align: center;
    text-shadow: 0 0 10px black;
    }

h2 {
    color: azure;
    font-size: 30px;
    font-family: arial;
    text-align: center;
    text-shadow: 0 0 10px black;
    }
    
a {
    margin: auto;
    text-decoration: none;
    color: lightblue;
    text-align: center;
}

.picflex {
    background-image: url("https://i.imgur.com/GhEiaAN.jpeg");
    width: 40px;
    height: 40px; 
    box-shadow: 0px 0px 5px white;
    border-radius: 8px;
    margin: auto;
}